<h1>Help</h1>
<p>
  Get help on ruby on Rails Tutorial at the
  <a herf="http://railstutorial.org/help">Rails Tutorial help page</a>
  To get help on this sample app, see the
  <a herf="http://railstutorial.org/book">Rails Tutorial book</a>
</p>